# Arquivos do vim
*.swp

# Arquivos do LaTeX
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.dvi
*.pdf
*.ps
*.600pk
*.tfm
*.ilg
*.ind
*.idx
*.nlo
*.toc

# Arquivos de distribuição
*.tar.bz2

# Arquivos de teste de exemplos
example/image
example/tccbsi.cls
